---
import BaseLayout from '../layouts/BaseLayout.astro';

import { sanityGraphqlQuery } from '../utils/helpers.js';
import { linksPage } from '../lib/api.js';
const response = await fetch(sanityGraphqlQuery(linksPage));
const responeData = await response.json();
const data = responeData.data.LinksPage;

// console.log(data);
---

<BaseLayout>
    <section class="links-page__section">
        <img class="profile__img" width="200" height="200" src={data.linksPageProfileImage.asset.url} alt={data.linksPageProfileImage.alt}>
        <h1>{data.name}</h1>
        <div class="social-icons__container">
            <a href={data.instagramURL}>
                <img src="/assets/icons/instagram.svg">
            </a>
            <a href={data.twitterURL}>
                <img src="/assets/icons/twitter.svg">
            </a>
            <a href={data.youtubeURL}>
                <img src="/assets/icons/youtube.svg">
            </a>
            <a href={data.instagramURL}>
                <img src="/assets/icons/instagram.svg">
            </a>
        </div>
        <div class="links-btn__container">
            {data.linksButtonList.map((link) => <a class="links__btn" href={link.linkURL}>{link.linkText}</a>)}
        </div>
    </section>
</BaseLayout>

<style lang="scss">
    .links-page__section {
        padding: 1rem;
        max-width: 860px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .profile__img {
        border-radius: 50%;
    }
    .social-icons__container{
        padding-bottom: 1rem;
        display: flex;
        // grid-template-columns: repeat(4, 1fr);
        // gap: 1rem;
        a {
            display: flex;
            margin-right: 1rem;
            align-items: center;
            justify-content: space-evenly;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                width: 36px;
                height: 36px;
            }
        }
    }
    .links-btn__container {
        width: 60%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        .links__btn {
            margin-bottom: 1rem;
            padding: 1rem 0.75rem;
            text-align: center;
            border: 4px solid #000000;
            border-radius: 2rem;
            font-weight: 700;
            font-size: 1.5rem;
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
            &:hover {
              background-color: #e4e4e4;
            }
        }
    }
</style>